.tourist-expectations-container {
  background: url("../../../public/images/touristExpectations.jpg") center
    center/cover no-repeat;
  color: #fff;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.tourist-expectations-container h1 {
  font-size: 60px;
  text-shadow: 0.05em 0 black;
  text-align: center;
  font-family: "Oswald";
  font-weight: 600;
}

@media screen and (max-width: 960px) {
  .tourist-expectations-container {
    height: 20vh;
  }

  .tourist-expectations-container h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .tourist-expectations-container h1 {
    font-size: 30px;
  }
}
