path.highcharts-point.highcharts-color-0 {
  fill: rgb(18, 196, 21);
}

path.highcharts-point.highcharts-color-1 {
  fill: rgb(199, 53, 8);
}

path.highcharts-point.highcharts-color-2 {
  fill: rgb(47, 126, 216);
}
