.semicircle-style path.highcharts-point.highcharts-color-0 {
  fill: rgb(16, 166, 16);
}

.semicircle-style path.highcharts-point.highcharts-color-1 {
  fill: rgb(181, 35, 35);
}

.semicircle-style path.highcharts-point.highcharts-color-2 {
  fill: rgb(242, 143, 67);
}
