.footer {
  background: rgb(0, 52, 89);
  color: #fff;
  padding: 3em;
}

.footer-main-content {
  text-align: center;
}

.footer-links {
  text-align: right;
}

.footer p {
  margin-top: 1em;
}

.footer a {
  color: #fff;
}

.footer li {
  margin-top: 1em;
}

@media screen and (max-width: 960px) {
  .footer p {
    text-align: center;
  }
  .footer h2 {
    margin-top: 1em;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .tourist-number-nationalities-container h1 {
    font-size: 30px;
  }
}
